html {
  font-size: 14px;
  font-family: "Work Sans", sans-serif;
  background-color: rgb(255,242,242);
}

body {
  padding-top: 5.25rem;
}

h1 {
  font-weight: bold;
  font-size: 2.5rem;
  color; rgb(32,64,86);
}

h2 {
  font-size: 1rem;
  font-weight: bold;
}

p {
  color: rgb(74,74,74);
}

.card {
  height: 12.5rem;
  background-color: rgb(32,64,86);
  border: 4px solid #ffffff;
  border-radius: 8px;
}
